.tipItem {
  line-height: 18px;
  font-size: 13px;
  color: gray;
  display: inline-block;
  background-color: #d1d2d5;
  border-radius: 4px;
  margin-right: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
